* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
a {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;

}
.header {
    width: 100%;
    height: 100vh;
    padding: 2rem;

}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
nav .logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}
nav .logo h1 {
    font-size: 3rem;
    color: red;
    font-family: fantasy;
    margin-left: -2rem;
}
nav .logo img {
    width: 100px;
    height: 100px;
    margin-right: 1rem;

}
nav .nav-links ul {
    display: flex;
    align-items: center;
    gap: 9rem;
    position: relative;
}
nav .nav-links li {
    list-style: none;
    color: black;
    font-size: 1.5rem;
    font-style: initial;
    transition: 0.4s;
    border: none;
}
nav .nav-links li:hover {
    border-bottom: 2px solid green;
}
.main {
    width: 100%;
    height: 80vh;
    padding: 0.50rem;

}
main h1 {
    font-size: 3rem;
    margin-left: 4rem;
    word-spacing: 10px;
    margin-bottom: 1rem;


    font-family: 'Times New Roman', Times, serif;
}
main h1 span {
    font-family: 'Times New Roman', Times, serif;
}
main .heading-container {

    width: 600px;
    padding: 1rem 0;
    margin-bottom: 1rem;
    margin-right: 2rem;

}
main .heading-container p {
    margin-left: 4rem;
}
.main-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-container img {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    margin-right: 3rem;


}
.about{
    width:100%;
    height:100vh;
    
    margin:2rem;
    padding:1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.about .about-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    margin-bottom:2rem;
}
.about .about-info h1{
    font-size:2.6rem;
    color:red;
}
.about .about-info h3{
    font-size:1.8rem;
    color:rgb(0, 0, 0);
}
.about .about-info p{
    font-size:1.2rem;
    color:#333;
    line-height: 1.2;
   text-align: left;
}
.btn{
    font-size:1.2rem;
    padding:1rem 2rem;
    font-weight: 500;
    border-radius:.4rem;
    cursor: pointer;
    background: rgb(224, 68, 97);
    color:#fdfdfd;
    border:0;
    outline:0;
}
.about img{
    border-radius: .5rem;;
}
.about-details{
    text-align: center;
}
.food-items {
    width: 100%;
    height: 100vh;
    padding: 2rem;
    

}
.special-info h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-bottom: 2rem;
    font-family:fantasy;
    color: rgb(197, 6, 6);
}
.special-info h2 {

    margin-top: 4rem;
    padding-left: 2rem;
    font-size: 29px;
}
.special-info p {
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-left: 2rem;
    font-size: 18px;
}
.card {
    display: flex;
    margin-left: 2rem;
    margin-top: -25rem;
    margin-bottom:4rem;

}
.cardimage img {
    width: 220px;
    height: 155px;
    border-radius: 10px;
    margin-left: .20rem;
    margin-top: .25rem;

}
.background {
    background: white;
    max-width: 100%;
    max-height: 100vh;
    border-radius: 5px;
    filter: drop-shadow(8px 8px 10px gray);
}
.background h3 {
    justify-content: space-between;
    padding: 5px;

}
.background p {
    display: flex;
    padding: 6px;

}
.price {

    align-items: center;
    justify-content: center;
}
.button1 {
    display: flex;
    padding: 6px;
    margin-left: 5px;
    background: rgb(223, 223, 7);
    margin-top: .25rem;
    border-radius: 10px;
}
.button2 {
    display: flex;
    padding: 5px;
    margin-top: -1.9rem;
    margin-left: 9rem;
    background: rgb(223, 223, 7);
    border-radius: 10px;
}
.card2 {
    display: flex;
    position: relative;
    margin-bottom: px;
    margin-top: -22rem;
    margin-left: 20rem;

}
.image2 img {
    width: 220px;
    height: 155px;
    border-radius: 10px;
    margin-left: .20rem;
    margin-top: .25rem;

}
.card-info {
    background: white;
    max-width: 100%;
    max-height: 100vh;
    border-radius: 5px;
    filter: drop-shadow(8px 8px 10px gray);
}
.card-info h3 {
    justify-content: space-between;
    padding: 5px;

}
.card-info p {
    display: flex;
    padding: 6px;

}
.prize {
    align-items: center;
    justify-content: center;
}
.button3 {
    display: flex;
    padding: 6px;
    margin-left: 5px;
    background: rgb(223, 223, 7);
    margin-top: .25rem;
    border-radius: 10px;
}
.button4 {
    display: flex;
    padding: 5px;
    margin-top: -1.9rem;
    margin-left: 9rem;
    background: rgb(223, 223, 7);
    border-radius: 10px;
}
.card3 {
    display: flex;
    position: relative;
    margin-bottom: px;
    margin-top: -18rem;
    margin-left: 38rem;
}
.image3 img {
    width: 220px;
    height: 155px;
    border-radius: 10px;
    margin-left: .20rem;
    margin-top: .25rem;
}
.card-container {
    background: white;
    max-width: 100%;
    max-height: 100vh;
    border-radius: 5px;
    filter: drop-shadow(8px 8px 10px gray);


}
.specialimage{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    padding:2rem;
}
.background{
    padding:1rem .5rem;
    
}
.card-container h3 {
    justify-content: space-between;
    padding: 5px;

}
.card-container p {
    display: flex;
    padding: 6px;

}
.prize1 {
    align-items: center;
    justify-content: center;

}
.button5 {
    display: flex;
    padding: 6px;
    margin-left: 5px;
    background: rgb(223, 223, 7);
    margin-top: .25rem;
    border-radius: 10px;
}
.button6 {
    display: flex;
    padding: 5px;
    margin-top: -1.7rem;
    margin-left: 9rem;
    background: rgb(223, 223, 7);
    border-radius: 10px;
}   
.card4 {
    display: flex;
    margin-top: -18rem;
    margin-left: 56rem;
    margin-bottom: 4rem;
}
.image4 img {
    width: 220px;
    height: 155px;
    border-radius: 10px;
    margin-left: .20rem;
    margin-top: .25rem;
}
.card-4 {
    background: white;
    max-width: 100%;
    max-height: 100vh;
    border-radius: 5px;
    filter: drop-shadow(8px 8px 10px gray);
}
.card-4 h3 {
    justify-content: space-between;
    padding: 5px;

}
.card-4 p {
    display: flex;
    padding: 6px;

}
.prize2 {
    align-items: center;
    justify-content: center;

}
.button7 {
    display: flex;
    padding: 6px;
    margin-left: 5px;
    background: rgb(223, 223, 7);
    margin-top: .25rem;
    border-radius: 10px;
}
.button8 {
    display: flex;
    padding: 5px;
    margin-top: -1.7rem;
    margin-left: 9rem;
    background: rgb(223, 223, 7);
    border-radius: 10px;
} 
.card5 {
    display: flex;
    margin-top: -22rem;
    margin-left: 74rem;
    margin-bottom: 10rem;
}
.image5 img {
    width: 220px;
    height: 155px;
    border-radius: 10px;
    margin-left: .20rem;
    margin-top: .25rem;
}
.card-5 {
    background: white;
    max-width: 100%;
    max-height: 100vh;
    border-radius: 5px;
    filter: drop-shadow(8px 8px 10px gray);
}
.card-5 h3 {
    justify-content: space-between;
    padding: 5px;

}
.card-5 p {
    display: flex;
    padding: 6px;

}
.prize3 {
    align-items: center;
    justify-content: center;

}
.button9 {
    display: flex;
    padding: 6px;
    margin-left: 5px;
    background: rgb(223, 223, 7);
    margin-top: .25rem;
    border-radius: 10px;
}
.button10 {
    display: flex;
    padding: 5px;
    margin-top: -1.7rem;
    margin-left: 9rem;
    background: rgb(223, 223, 7);
    border-radius: 10px;
} 

.contact{
    width:100%;
    height:100vh;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    padding: 2rem;
}
.contact h1{
    font-size: 2.6rem;
    text-align: center;
}
.contact form{
    width: 60rem;
    padding: 0 5rem;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    gap: 1.5rem;
}
.contact form .input-box input,
.contact form textarea{
    font-size: 1.2rem;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    border:0;
    outline:0;
    color: var(--text-color);
    background: var(--bg-color);
}
.contact form textarea{
    resize: none;
    margin-bottom: 2rem;
}